<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reservar</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <script>
        var id = '<%= id %>'; // Get the id parameter from the server
        console.log('Received id:', id);

        async function pagar(emailInput, dayInput, timeInput) {
            var combinedDateTimeString = dayInput + ' ' + timeInput;

            var recordingDate = new Date(combinedDateTimeString);

            try {
                const response = await axios.post('/crearGrabacion', {
                    id: id,
                    email: emailInput,
                    recordingDate: recordingDate,
                });
                window.location.replace(response.data);
            } catch (error) {
                console.error(error);
            }
        }
    </script>

    <h2>Reservar</h2>

    <label for="emailInput">Tu email:</label>
    <input type="text" id="emailInput" name="emailInput" required><br><br>

    <label for="recordingDay">Dia de grabacion:</label>
    <input type="date" id="recordingDay" name="recordingDay" required><br><br>

    <label for="recordingTime">Hora de grabacion:</label>
    <input type="time" id="recordingTime" name="recordingTime" required><br><br>

    <button onclick="pagar(emailInput.value, recordingDay.value, recordingTime.value)">Pagar</button>

</html>